
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #091E50;
$orange: #FF752E;
$green: #109948;
$grey: #707070;
$white: #FFFEFE;
$black: #000000;
