// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Home page

*{
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: none;
}

html{
    height: 100%;
}

summary{
    text-decoration: none;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

header h1{
    color:$white;
    font-size:1.5em;
    margin:auto;
    // display: none;
}

.icon-header{
    width: 3em;
    height: 3em;
}

.d-b{
    display: block;
}
.d-n{
    display: none;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/svg/cardio.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    flex-grow: 1;
    position:relative;
    overflow: hidden;
}

h1{
 display:none;
}

#sos-button{
    width: 15em;
    height: 15em;
    background-color: $orange;
    border-radius: 100%;
    box-shadow: 0.2em 0.5em 0.5em rgba($black,0.6);
    display: flex;
    margin:auto;
    align-items: center;
//    margin-bottom: 14em;
}

#sos-button:active{
    box-shadow: 0em 0em 0em rgba($black,0);
}

#sos-button h1{
    color: $white;
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:auto;
    display:flex;
}

.informations{
    display:flex;
    flex-direction: column;
    position:relative;
    width:80%;
    margin:auto;
    height:auto;
    background-color: $blue;
}

.infos{
    display:flex;
    flex-direction: column;
    position:relative;
    width:80%;
    margin:auto;
    height:4.5em;
    background-color: $blue;
}

.informations p, .infos p{
    padding:0.5em;
    color:$white;
    margin-bottom:0;
    text-align: center;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inf{
    width:2.25em;
    height:auto;
    position:absolute;
    z-index:20000;
    cursor:pointer;
    margin:0 0.4em 0.65em 0;
}

#title{
    width:20.5em;
    height:auto;
}

#title p{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.2em;
    text-transform: uppercase;
    font-weight: 600;
}

#informations{
    right: -30em;
    margin: 0 0.25em 0 ;
    transition: right 1s ease;
    width:20.5em;
    bottom:0.5em;
    position:absolute;

    &.active{
        right: 0;
    }
}

#research{
    right: -30em;
    margin: 0 0.7em 0 ;
    transition: right 1s ease;
    width:20.5em;
    top:0.5em;
    position:absolute;
    &.active{
        right: 0;
    }
}

.right{
    bottom:0em;
    right:0;
    margin-right:0.25em;
    margin-bottom:0.5em;
    position:absolute;
}

.left{
    top:0;
    left:0;
    margin-left:0.25em;
    margin-top:0.5em;
    position:absolute;
}

footer{
    background-color: $blue;
    padding: 1em;
    bottom: 0;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:95%;
    margin:auto;
}

//.line{
//    width: 2em;
//    height: 100%;
//}

.icon-footer{
    width: 2em;
    height: 2em;
}

.form-container {
    position: relative;
}

#search-field{
    background-color:$grey;
    width:6em;
    height:2em;
    margin:auto;
    border: none;
    // border:0.1em solid rgba($white,0.4);
    padding:0.25em;
    color:$white;
    margin-right: 0;

    &::placeholder {
        color: #ddd;
    }
}

#search-btn{
    color:$white;
    text-transform: capitalize;
    font-weight: normal;
    // font-size: 2em;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $orange;
    width:2.5em;
    height:2.1em;
    // margin-top:-0.1em;
    border:0.1em solid $white;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    left: -0.45vh;
    // box-shadow: 0.1em 0.1em 0.1em rgba($white,0.5);
}

#search-btn:active{
    box-shadow: 0em 0em 0em rgba($white,0);
}

#search-notif {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.1em;
    width: 12em;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    z-index: 1;
    max-height: 0;
    transition: max-height 0.5s ease;
    height: 2em;
    overflow: hidden;
    cursor: pointer;

    &.visible {
        max-height: 5em;
    }
}

//Pages

.backgrd{
    background-color:#b3b3b3;
    background-image: url('/img/background.png');
    background-position: center;
    background-size:cover;
    background-repeat: repeat-x;
    height:100%;
}

.title{
    background-color:#fff;
    display:flex;
    justify-content: center;
}

.title h2{
    margin:0;
    padding:0.5em;
    font-size: 18px;
    text-transform:uppercase;
    text-align: center;
}

.desc{
    background-color:#109948;
    margin-top:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.desc summary{
    color:#fff;
    padding:0.3em 0;
    font-size: 15px;
    text-align: center;
    background-color: $orange;
    list-style: disclosure-closed;

    &.open {
        list-style: disclosure-open;
    }
}

.desc summary:focus{
    text-transform: uppercase;
}

.sub-part{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green;

    &.article {
        max-height: 0;
        overflow: hidden;
        cursor: pointer;
        transition: none;

        &.visible {
            max-height: 50em;
            transition: max-height 1s ease;
        }
    }
}

.sub-part div{
    width: 100%;
}

.desc ol, .desc ul a{
    color:#fff;
    padding:0 2em;
    margin: auto;
    font-size: 15px;

    &:first-of-type{
        margin-top:0.3em;
        margin-bottom:0.3em;
    }

    &:last-of-type{
        margin-top:0.3em;
        margin-bottom:0.3em;
    }
    display:block;
    width:100%;
}

.desc p{
    color:#fff;
    padding:0 2em;
    margin: auto;
    font-size: 15px;
    text-align: left;
    &:first-of-type{
        margin-top:0.3em;
        margin-bottom:0.3em;
    }
    &:last-of-type{
        margin-top:0.3em;
        margin-bottom:0.3em;
    }
    display:block;
    width:100%;
}

.part .desc{
    background-color:$orange;
    width:70%;
    margin:auto;
    box-shadow: 0.1em 0.2em 0.2em rgba($black,0.4);
}

.part .desc:active, .part a .title:active{
    box-shadow: 0em 0em 0em rgba($black,0);
}

.part .title{
    width:70%;
    margin:auto;
}

.content{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}
.info{
    background-color:#109948;
    width: 70%;
    margin:auto;
    margin-top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green;
}
.info ol, .info ul a{
    color:#fff;
    padding:0 2em;
    margin: auto;
    font-size: 15px;
    text-align: center;
    &:first-of-type{
        margin-top:0.3em;
        margin-bottom:0.3em;
    }
    &:last-of-type{
        margin-top:0.3em;
        margin-bottom:0.3em;
    }
    display:block;
    width:100%;
}
// Leaflet
main{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

#def-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    margin-top: 10px;
    z-index: 1;
}

#def-name {
    font-size: 1.4em;
    padding: 0.2em 0.5em;
    background-color: $orange;
    border-radius: 2em;
    width: fit-content;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,0.2);
    cursor: pointer;
    color:$white;

    &:empty {
        display: none;
    }
}

#def-meta-info {
    display: none;
    padding: 0.2em 0.5em;
    background-color: $white;
    width: fit-content;
    border: 2px solid rgba(0,0,0,0.2);
    color:$black;

    &.visible {
        display: block;
    }

    .day {
        display: inline-block;
        width: 5.2em;
        text-align: right;
        font-weight: bold;
    }
}

@keyframes rotating{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

#animation{
    width:200px;
    height:200px;
    border-radius: 50%;
    border-top: 10px solid $green;
    border-bottom: 10px solid $green;
    position:absolute;
    animation:rotating 2s linear infinite;
    box-sizing:border-box;
    left:50%;
    top:50%;
    margin-left:-100px;
    margin-top:-100px;
}

#map {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    z-index: 0;
}

#run{
    width: 3em;
    height: 3em;
    color: $white;
    background-color: $orange;
    border-radius: 100%;
    border: 0.1em solid $grey;
    z-index: 10000;
    font-size: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor:pointer;
}

.leaflet-bottom.leaflet-right {
    right: unset;
    left: 0;
}

.leaflet-routing-icon {
    background-image: url('/img/leaflet.routing.icons.png');
}

.leaflet-right.leaflet-top{
    display:none;
}


@import 'queries';
