@media screen and(min-width: 576px){
    .leaflet-right.leaflet-top{
        display:block;
    }

    h1{
        display:flex;
    }

    // header h1{
    //     display: block;
    // }

    #search-field{
        width: 12em;
    }

    #search-btn{
        width: 5em;
    }
}


@media screen and(min-width:768px){
    #home{
        background-size: 150%;
    }
}


@media screen and(min-width:992px){
    #home{
        background-size: 125%;
    }
}

@media screen and(max-height:500px){
    #title p{
        font-size:0.8em;
    }
}